@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:700&subset=latin-ext');

/* General */

* {
  background-color: rgb(58, 57, 57);
  color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.App {
  max-width: 1200px;
  margin: auto;
}

.program_name {
  font-family: 'Cormorant Unicase', serif;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid antiquewhite;
}

/* Header */

header {
  display: flex;
  flex-flow: row wrap;
}

#logo {
  max-height: 50%;
}

#logo, nav, #show_inventory {
  flex: 1 100%;
}

#logo h1 {
  font-size: 8vw;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  font-variant: small-caps;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
  transition: all 0.9s;
}

nav ul li a:hover, .active_link {
  color:  rgb(58, 57, 57);
}

nav ul li a:before, .active_link:before {
  background: #fff;
  content: '.';
  color: transparent;
  position: absolute;
  width: 500%;
  top: 100px;
  right: 300px;
  height: 300px;
  z-index: -1;
}

nav ul li a:hover:before, .active_link:before {
  left: auto;
  bottom: auto;
  right: -50%;
  top: 0;
  background: antiquewhite;
}

/* PickInventory */

#pick_inventory {
  margin: auto;
}

#consonants, #inv_container {
  width: 90%;
  margin: 50px 30px 0px;
}

#inv_container {
  display: flex;
  justify-content: space-between;
}

#vowels {
  width: 70%;
}

#other_consonants {
  width: 25%;
  margin-right: 10px;
}

.inv_table th, .inv_table tr td:first-child {
  background-color: black;
}

.inv_table th {
  height: 60px;
}

.inv_table td {
  text-align: center;
  border: 1px solid antiquewhite;
  box-sizing: border-box;
  min-width: 80px;
}

td.selected {
  background-color: rgb(180, 180, 180);
  color: black;
}

/* #PhonProcessor */

#invwindow_container {
  overflow-x: auto;
}

#invwindow_container td {
  text-align: center;
}

#invwindow_container th, #invwindow_container td:first-child {
  background-color: black
}

/* Difference */

#difference select, #difference input {
  margin: 10px;
}

#difference table {
  margin-left: 11px;
}

#difference th {
  background-color: black;
}

#difference td {
  text-align: center;
  min-width: 160px;
  padding: 5px;
}

.diffSegment td {
  background-color: rgb(180, 180, 180);
  color: black;
}
